In [2]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.datasets import load_iris
#LOAD
iris = load_iris()
X = iris.data
#apply
pca = PCA(n_components=2)
X_pca = pca.fit_transform(X)
print(X.shape)
print(X_pca.shape)

(150, 4)
(150, 2)

In [3]:
import pandas as pd
data = pd.read_csv("btissue.csv")

# pca = PCA(n_components=2)
# X_pca = pca.fit_transform(data)
# print(X.shape)
# print(X_pca.shape)

In [4]:
D1 = data
D2 = pd.get_dummies(D1,drop_first=True) #Conversion from normal to ordinal data

In [5]:
pca1 = PCA(n_components=2)
data_pca = pca1.fit_transform(D2)
print(data.shape)
print(data_pca.shape)

(106, 10)
(106, 2)

In [6]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.datasets import load_iris

iris = load_iris()
X,y = iris.data, iris.target
lda = LinearDiscriminantAnalysis(n_components=2)
X_lda=lda.fit_transform(X,y)
print(X.shape)
print(X_lda.shape)

(150, 4)
(150, 2)

In [7]:
import numpy as np
from sklearn.decomposition import TruncatedSVD
X=np.random.rand(5,4)
svd=TruncatedSVD(n_components=2)
X_svd = svd.fit_transform(X)
print(X.shape)
print(X_svd.shape)

(5, 4)
(5, 2)

In [8]:
import pandas as pd
data = {
    "length":[10,20,30,40],
    "breadth":[1,2,3,4],
    "price":[100,200,300,400]
}
df = pd.DataFrame(data)
df["area"]=df["length"]*df["breadth"]
df

   length  breadth  price  area
0      10        1    100    10
1      20        2    200    40
2      30        3    300    90
3      40        4    400   160

In [9]:
#Encoding Nominal variables
data = {
    "city":['bbs','ctc','kgp','jsr'],
    "athlete":['Y','N','Y','N'],
    "winning":['Y','N','Y','N']
}
df = pd.DataFrame(data)
print(df)
pd.get_dummies(df,drop_first=False)

  city athlete winning
0  bbs       Y       Y
1  ctc       N       N
2  kgp       Y       Y
3  jsr       N       N

,city_bbs,city_ctc,city_jsr,city_kgp,athlete_N,athlete_Y,winning_N,winning_Y
0,True,False,False,False,False,True,False,True
1,False,True,False,False,True,False,True,False
2,False,False,False,True,False,True,False,True
3,False,False,True,False,True,False,True,False

In [10]:
# Name , city , blood group , cgpa , which we need in binary ? 
data = {
    "Name":['A',"B","C",'D'],
    "City":['C1',"C2","C1","C3"],
    "Blood_Group":['A',"B","O","B"],
    "CGPA":[8,9,10,10]
}
df = pd.DataFrame(data)
print(df)
dff = pd.get_dummies(df, columns =['City','Blood_Group'])
dff

  Name City Blood_Group  CGPA
0    A   C1           A     8
1    B   C2           B     9
2    C   C1           O    10
3    D   C3           B    10

,Name,CGPA,City_C1,City_C2,City_C3,Blood_Group_A,Blood_Group_B,Blood_Group_O
0,A,8,True,False,False,True,False,False
1,B,9,False,True,False,False,True,False
2,C,10,True,False,False,False,False,True
3,D,10,False,False,True,False,True,False

In [11]:
#Encoding ordinal vars
data = {"grade":['A','B',"C","D","A"]}
df=pd.DataFrame(data)
grade_map = {'A':1,"B":2,"C":3,"D":4}
df['num_grade']=df['grade'].map(grade_map)
df

  grade  num_grade
0     A          1
1     B          2
2     C          3
3     D          4
4     A          1

In [12]:
# Binning Continues Variables
import numpy as np
df = pd.DataFrame({'price':[20000,35000,60000,80000]})
bins = [0,30000,60000,np.inf]
labels = ['low','medium','high']
df['price_category']=pd.cut(df['price'],bins=bins,labels=labels)
df

   price price_category
0  20000            low
1  35000         medium
2  60000         medium
3  80000           high

In [13]:
#Filter Method(Chi-Square)
from sklearn.feature_selection import SelectKBest, chi2
X_new = SelectKBest(chi2,k=2).fit_transform(iris.data,iris.target)
print("Original: ",iris.data.shape,'Reduced: ',X_new.shape)

Original:  (150, 4) Reduced:  (150, 2)

In [14]:
#Alternate Method(Chi-Square)
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.datasets import load_iris

#Load iris dataset as DataFrame
iris = load_iris(as_frame=True)
df_i = iris.frame

#Separate features and target using iloc
X= df_i.iloc[:,:-1] #all columns except last
y = df_i.iloc[:,-1] #last column

#Apply Chi-Squre test
X_new = SelectKBest(chi2,k=1).fit_transform(X,y)

print("Original shape: ",X.shape)
print("Reduced shape: ",X_new.shape)

Original shape:  (150, 4)
Reduced shape:  (150, 1)

In [15]:
#Wrapper Method- Recurrsive Feature Elimination(RFE)
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
X,y=iris.data,iris.target
model = LogisticRegression(max_iter=200)

#Apply RFE for 2 features
rfe = RFE(model,n_features_to_select=2)
fit = rfe.fit(X,y)

print("Selected Features: ",fit.support_)
print("Feature Ranking: ",fit.ranking_)

Selected Features:  [False False  True  True]
Feature Ranking:  [3 2 1 1]

In [16]:
#Embedded Method (Lasso)
from sklearn.linear_model import LassoCV
from sklearn.datasets import load_diabetes

#Load diabetes dataset as DataFrame
diabetes = load_diabetes(as_frame=True)
df_d = diabetes.frame

#Separate features and target using iloc
X= df_d.iloc[:,:-1]
y = df_d.iloc[:,-1]

#Apply LassoCV
lasso = LassoCV(cv=5)
lasso.fit(X,y)

print("Coefficients: ",lasso.coef_)
print("No of selected features: ",sum(lasso.coef_!=0))

Coefficients:  [  -6.49469328 -235.99308032  521.7443693   321.0607768  -569.43813385
  302.45319289   -0.          143.69851474  669.92267515   66.83551067]
No of selected features:  9