In [1]:
import pandas as pd

In [2]:
S = pd.Series() #empty series
print(S)

Series([], dtype: float64)

/tmp/ipykernel_13990/766605140.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  S = pd.Series() #empty series

In [3]:
#list to series with default index
S = pd.Series([1,2,3])
print(S)

0    1
1    2
2    3
dtype: int64

In [5]:
#list to series with index
S=pd.Series([1,2,3], index=['a','b','c'])
print(S)

a    1
b    2
c    3
dtype: int64

In [6]:
#dictionary to series
S = pd.Series({'a':1,'b':2, 'c':3})
print(S)

a    1
b    2
c    3
dtype: int64

In [10]:
#tuple to series
S = pd.Series((1,2,3,4), index=['a','b','c','d'])
print(S)

a    1
b    2
c    3
d    4
dtype: int64

In [13]:
print(S['c'])

3

In [16]:
print(S[:2])

a    1
b    2
dtype: int64

In [17]:
print(S[['b','a']])

b    2
a    1
dtype: int64

In [18]:
print(S[S>2])

c    3
d    4
dtype: int64

In [19]:
print([S>2])

[a    False
b    False
c     True
d     True
dtype: bool]

In [20]:
print(S*2)

a    2
b    4
c    6
d    8
dtype: int64

In [33]:
data={
    'Name':['Guru','Rajendra','Om','Sourav','Sai'],
    'Age':[21,21,21,None,None],
    'City':['Cuttack','Angul','Jamshedpur','Balasore','BBSR'],
    'Marks':[91,96,92,94,97]
}
df = pd.DataFrame(data)
print(df)

       Name   Age        City  Marks
0      Guru  21.0     Cuttack     91
1  Rajendra  21.0       Angul     96
2        Om  21.0  Jamshedpur     92
3    Sourav   NaN    Balasore     94
4       Sai   NaN        BBSR     97

In [34]:
#Basic Information
print(df.shape,"\n")
print(df.info(),"\n") #rw-rw-r-- 1
print(df.describe())

(5, 4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     3 non-null      float64
 2   City    5 non-null      object
 3   Marks   5 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 288.0+ bytes
None

        Age     Marks
count   3.0   5.00000
mean   21.0  94.00000
std     0.0   2.54951
min    21.0  91.00000
25%    21.0  92.00000
50%    21.0  94.00000
75%    21.0  96.00000
max    21.0  97.00000

In [35]:
#Selecting Data
print(df['Name'])
print(df[['Name','Age']])
print(df.iloc[0])
print(df.loc[0,'Name'])

0        Guru
1    Rajendra
2          Om
3      Sourav
4         Sai
Name: Name, dtype: object
       Name   Age
0      Guru  21.0
1  Rajendra  21.0
2        Om  21.0
3    Sourav   NaN
4       Sai   NaN
Name        Guru
Age         21.0
City     Cuttack
Marks         91
Name: 0, dtype: object
Guru

In [4]:
import pandas as pd
import numpy as np
arr = np.array([5,10,15,20,25])
s = pd.Series(arr)
print(s)

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [5]:
arr = np.array(['a','b','c','d'])
s = pd.Series(arr,index=['1st','2nd','3rd','4th'])
print(s)

1st    a
2nd    b
3rd    c
4th    d
dtype: object

In [10]:
s = pd.Series('Om',index=['#1','#2','#3','#4','#5'])
print(s)

#1    Om
#2    Om
#3    Om
#4    Om
#5    Om
dtype: object

In [18]:
s1 = pd.Series([1,2,3,4,5], index=[0,1,2,3,4])
s2 = pd.Series([1,2,3,4,5], index=[0,1,2,3,4])
s3 = pd.Series([1,2,3,4,5,6], index=[0,1,2,3,4,5])
print(s1)
print(s2)
print(s1+s2)
print(s2+s3)
print(s2.add(s3,fill_value=0))

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64
0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
5     NaN
dtype: float64
0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
5     6.0
dtype: float64

In [22]:
arr = np.array([10,15,18,22,55,77,42,48,97,36,23,67,223,783,2234,775,35])
s= pd.Series(arr)
print(s.head(),"\n")
print(s.head(3),"\n")
print(s.tail(),"\n")
print(s.tail(1),"\n")

0    10
1    15
2    18
3    22
4    55
dtype: int64

0    10
1    15
2    18
dtype: int64

12     223
13     783
14    2234
15     775
16      35
dtype: int64

16    35
dtype: int64

In [27]:
arr = np.array([10,15,18,22,55,77])
s = pd.Series(arr)
print(s,"\n")
print(s.loc[:2],"\n")
print(s.loc[3:4], "\n")
print(s.loc[2:3],"\n")
print(s.iloc[:2],"\n")
print(s.iloc[3:4], "\n")
print(s.iloc[2:3],"\n")

0    10
1    15
2    18
3    22
4    55
5    77
dtype: int64

0    10
1    15
2    18
dtype: int64

3    22
4    55
dtype: int64

2    18
3    22
dtype: int64

0    10
1    15
dtype: int64

3    22
dtype: int64

2    18
dtype: int64

In [30]:
#dictionary to series
dp ={1:'a',2:'b',3:'c',4:'d',5:'e'}
s = pd.Series(dp)
print(s)

1    a
2    b
3    c
4    d
5    e
dtype: object

In [1]:
import pandas as pd
import numpy as np

df = pd.Series((8,9,10,11),index=('a','b','c','d'))
print(df)

a     8
b     9
c    10
d    11
dtype: int64

In [2]:
s = pd.Series([1,2,3,4])
df = pd.DataFrame(s)
print(df)

   0
0  1
1  2
2  3
3  4

In [5]:
name = pd.Series(['Om','Raj','Guru','Soura'])
team = pd.Series(['G3','G3','G3','G3'])
roll = pd.Series([63,54,30,39])
dic = {'Name':name, 'Team':team,'Roll':roll}
df = pd.DataFrame(dic)
print(df)

    Name Team  Roll
0     Om   G3    63
1    Raj   G3    54
2   Guru   G3    30
3  Soura   G3    39

In [11]:
dicl=[
    {'FirstName': 'Sachin','LastName':'Bhardwaj','Age':21},
    {'FirstName': 'Vinod','LastName':'Verma','Age':23},
    {'FirstName': 'Rajesh','LastName':'Mishra','Age':22},
]
df1 = pd.DataFrame(dicl)
print(df1,"\n")
print(df1[['FirstName','Age']])

  FirstName  LastName  Age
0    Sachin  Bhardwaj   21
1     Vinod     Verma   23
2    Rajesh    Mishra   22

  FirstName  Age
0    Sachin   21
1     Vinod   23
2    Rajesh   22

In [16]:
for(ri,rv) in df1.iterrows():
    print(ri,"\n")
    print(rv,"\n")

0

FirstName      Sachin
LastName     Bhardwaj
Age                21
Name: 0, dtype: object

1

FirstName    Vinod
LastName     Verma
Age             23
Name: 1, dtype: object

2

FirstName    Rajesh
LastName     Mishra
Age              22
Name: 2, dtype: object

In [17]:
empdata = {
    'empid': [101,102,103,105,106],
    'ename': ['Sachin','Vinod','Lakhbir','Anil','Om']
}
df = pd.DataFrame(empdata)
print(df)

   empid    ename
0    101   Sachin
1    102    Vinod
2    103  Lakhbir
3    105     Anil
4    106       Om

In [18]:
df[['empid','ename']]

   empid    ename
0    101   Sachin
1    102    Vinod
2    103  Lakhbir
3    105     Anil
4    106       Om

In [20]:
df.empid

0    101
1    102
2    103
3    105
4    106
Name: empid, dtype: int64

In [28]:
s = pd.Series([2020,2021,2022,2023,2024])
df =pd.DataFrame(s)
print(df,"\n")
df.columns=['Year']
print(df,"\n")
df['List2'] = 20
print(df,"\n")
df['List3'] = df['Year']+df['List2']
print(df,"\n")
df['MLC'] = [50,55,40,20,30]
print(df,"\n")
df['Python'] = [51,53,47,28,34]
print(df,"\n")

      0
0  2020
1  2021
2  2022
3  2023
4  2024

   Year
0  2020
1  2021
2  2022
3  2023
4  2024

   Year  List2
0  2020     20
1  2021     20
2  2022     20
3  2023     20
4  2024     20

   Year  List2  List3
0  2020     20   2040
1  2021     20   2041
2  2022     20   2042
3  2023     20   2043
4  2024     20   2044

   Year  List2  List3  MLC
0  2020     20   2040   50
1  2021     20   2041   55
2  2022     20   2042   40
3  2023     20   2043   20
4  2024     20   2044   30

   Year  List2  List3  MLC  Python
0  2020     20   2040   50      51
1  2021     20   2041   55      53
2  2022     20   2042   40      47
3  2023     20   2043   20      28
4  2024     20   2044   30      34

In [29]:
del df['List3']
print(df,"\n")

   Year  List2  MLC  Python
0  2020     20   50      51
1  2021     20   55      53
2  2022     20   40      47
3  2023     20   20      28
4  2024     20   30      34

In [30]:
df.pop('List2')
print(df,"\n")

   Year  MLC  Python
0  2020   50      51
1  2021   55      53
2  2022   40      47
3  2023   20      28
4  2024   30      34

In [40]:
df = df.drop(columns='Year')
print(df,"\n")

   MLC  Python
0   50      51
1   55      53
2   40      47
3   20      28
4   30      34

In [46]:
import pandas as pd
s= pd.Series([10,20,30,40])
df = pd.DataFrame(s)
df.columns= ['List1']
df['List2']=40
print(df,"\n")
df1 = df.drop('List2',axis=1)
df2 = df.drop(index=[0,1],axis=0)
print(df1,"\n")
print(df2,"\n")

   List1  List2
0     10     40
1     20     40
2     30     40
3     40     40

   List1
0     10
1     20
2     30
3     40

   List1  List2
2     30     40
3     40     40

In [48]:
Runs={
    'TCS':{'Q1':2500,'Q2':2000,'Q3':3000,'Q4':2000},
    'WIPRO':{'Q1':2800,'Q2':2400,'Q3':3600,'Q4':2400},
    'L&T':{'Q1':2100,'Q2':5700,'Q3':35000,'Q4':2100}
}
df = pd.DataFrame(Runs)
print(df)
#Only D2 row
print(df.loc['Q3',:],"\n")
#Only rows from D1 to D3
print(df.loc['Q1':'Q3',:],"\n")

     TCS  WIPRO    L&T
Q1  2500   2800   2100
Q2  2000   2400   5700
Q3  3000   3600  35000
Q4  2000   2400   2100
TCS       3000
WIPRO     3600
L&T      35000
Name: Q3, dtype: int64

     TCS  WIPRO    L&T
Q1  2500   2800   2100
Q2  2000   2400   5700
Q3  3000   3600  35000

In [51]:
print(df.loc[:,'TCS'],"\n") #To access single column
print(df.loc[:,'TCS':'WIPRO'],"\n")#To access multiple column

Q1    2500
Q2    2000
Q3    3000
Q4    2000
Name: TCS, dtype: int64

     TCS  WIPRO
Q1  2500   2800
Q2  2000   2400
Q3  3000   3600
Q4  2000   2400

In [54]:
#Data Dictinary
empdata = {
    'empid': [101,102,103,105,106],
    'ename': ['Sachin','Vinod','Lakhbir','Anil','Om']
}

df = pd.DataFrame(empdata)
print(df,"\n")
#Access first row using .loc
print(df.loc[0],"\n")
#Access first three rows using .loc
print(df.loc[0:2],"\n")

print(df.iloc[0],"\n")
print(df.iloc[0:2],"\n")

   empid    ename
0    101   Sachin
1    102    Vinod
2    103  Lakhbir
3    105     Anil
4    106       Om

empid       101
ename    Sachin
Name: 0, dtype: object

   empid    ename
0    101   Sachin
1    102    Vinod
2    103  Lakhbir

empid       101
ename    Sachin
Name: 0, dtype: object

   empid   ename
0    101  Sachin
1    102   Vinod

In [56]:
df.head(2)

   empid   ename
0    101  Sachin
1    102   Vinod

In [57]:
df.tail(2)

   empid ename
3    105  Anil
4    106    Om

In [10]:
import pandas as pd
#Data Dictionary
marks= pd.DataFrame({
    'Om':[87,89,93,87,92],
    'Eva':[95,99,87,34,23],
    'Sam':[86,56,26,84,27],
    'Guru':[43,75,23,97,26],
    'Raj':[3,79,23,79,45]
},index=['a','b','c','d','e'])

#Printing
print(marks,"\n")
print(marks['Eva']['c'])
print(marks.Eva.a)
print(marks.at['d','Raj'])
print(marks.iat[0,1],"\n")

#Displaying O grade students
print("O grade:")
print(marks[marks>=90],"\n")

#Displaying A grade students
print("A grade:")
print(marks[(marks>=80) & (marks<90)])

   Om  Eva  Sam  Guru  Raj
a  87   95   86    43    3
b  89   99   56    75   79
c  93   87   26    23   23
d  87   34   84    97   79
e  92   23   27    26   45

87
95
79
95

O grade:
     Om   Eva  Sam  Guru  Raj
a   NaN  95.0  NaN   NaN  NaN
b   NaN  99.0  NaN   NaN  NaN
c  93.0   NaN  NaN   NaN  NaN
d   NaN   NaN  NaN  97.0  NaN
e  92.0   NaN  NaN   NaN  NaN

A grade:
     Om   Eva   Sam  Guru  Raj
a  87.0   NaN  86.0   NaN  NaN
b  89.0   NaN   NaN   NaN  NaN
c   NaN  87.0   NaN   NaN  NaN
d  87.0   NaN  84.0   NaN  NaN
e   NaN   NaN   NaN   NaN  NaN

In [18]:
print("Transpose")
print(marks.T,"\n")

print("All marks sorted in Row indices:")
print(marks.sort_index(ascending=False),"\n") #Descending Order

print("All marks sorted in Column indices:")
print(marks.sort_index(axis=1))

Transpose
       a   b   c   d   e
Om    87  89  93  87  92
Eva   95  99  87  34  23
Sam   86  56  26  84  27
Guru  43  75  23  97  26
Raj    3  79  23  79  45

All marks sorted in Row indices:
   Om  Eva  Sam  Guru  Raj
e  92   23   27    26   45
d  87   34   84    97   79
c  93   87   26    23   23
b  89   99   56    75   79
a  87   95   86    43    3

All marks sorted in Column indices:
   Eva  Guru  Om  Raj  Sam
a   95    43  87    3   86
b   99    75  89   79   56
c   87    23  93   23   26
d   34    97  87   79   84
e   23    26  92   45   27

In [24]:
#Sort by values of the columns of a and e
print(marks.sort_values(by='a',axis=1,ascending=True),"\n")
print(marks.sort_values(by='e',axis=1,ascending=False),"\n")

#Sort by values of the rows of Om
print(marks.sort_values(by='Om',ascending=True),"\n")

#Select d row and sort values
print(marks.loc['d'].sort_values(ascending=True))

   Raj  Guru  Sam  Om  Eva
a    3    43   86  87   95
b   79    75   56  89   99
c   23    23   26  93   87
d   79    97   84  87   34
e   45    26   27  92   23

   Om  Raj  Sam  Guru  Eva
a  87    3   86    43   95
b  89   79   56    75   99
c  93   23   26    23   87
d  87   79   84    97   34
e  92   45   27    26   23

   Om  Eva  Sam  Guru  Raj
a  87   95   86    43    3
d  87   34   84    97   79
b  89   99   56    75   79
e  92   23   27    26   45
c  93   87   26    23   23

Eva     34
Raj     79
Sam     84
Om      87
Guru    97
Name: d, dtype: int64

In [28]:
import pandas as pd

data={
    'Name':['Om','Raj','Guru','Soura'],
    'Age':[21,21,21,21],
    'City':['Jamshedpur','Angul','Cuttack','Balasore']
}

df = pd.DataFrame(data)
df.to_csv('Om.csv',index=False)
print("CSV file 'Om.csv' created successfully!")

CSV file 'Om.csv' created successfully!

In [30]:
df2 = pd.read_csv('Om.csv')
print(df2)

    Name  Age        City
0     Om   21  Jamshedpur
1    Raj   21       Angul
2   Guru   21     Cuttack
3  Soura   21    Balasore

In [33]:
import pandas as pd

# Define column names from UCI Auto MPG dataset
column_names = [
    "mpg", "cylinders", "displacement", "horsepower", "weight",
    "acceleration", "model_year", "origin", "car_name"
]

# URL of Auto MPG dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data"
url2="https://raw.githubusercontent.com/CourseMaterial/DataWrangling/main/flowerdataset.csv"

# Load dataset
df = pd.read_csv(
    url2,
    sep='\s+',   # data separated by spaces
    names=column_names,      # assign column names
    na_values="?"            # missing values marked as '?'
)

# Save to local CSV file
df.to_csv("auto_mpg.csv", index=False)

print("✅ Auto MPG dataset saved as 'auto_mpg.csv'")
print(df.head())

✅ Auto MPG dataset saved as 'auto_mpg.csv'
                                                 mpg  cylinders  displacement  \
0  sepal_length,sepal_width,petal_length,petal_wi...        NaN           NaN
1                        5.1,3.5,1.4,0.2,Iris-setosa        NaN           NaN
2                          4.9,3,1.4,0.2,Iris-setosa        NaN           NaN
3                        4.7,3.2,1.3,0.2,Iris-setosa        NaN           NaN
4                        4.6,3.1,1.5,0.2,Iris-setosa        NaN           NaN

   horsepower  weight  acceleration  model_year  origin  car_name
0         NaN     NaN           NaN         NaN     NaN       NaN
1         NaN     NaN           NaN         NaN     NaN       NaN
2         NaN     NaN           NaN         NaN     NaN       NaN
3         NaN     NaN           NaN         NaN     NaN       NaN
4         NaN     NaN           NaN         NaN     NaN       NaN